<div class="container-fluid bg-color">
  <div class="w-100">
    <div class="m-auto w-50 text-center font-white">
      Create Group
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card p-2 bg-color">
        <span class="group-logo text-center"><i class="fas fa-user"></i></span>
        <div class="row m-0 text-center font-white">
          <div class="col p-1">
            <span><i class="fas fa-camera"></i></span>
            <span class="group-logo-text pl-2">Group Logo</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 font-white">
      <div class="groupInfo">Name</div>
      <div class="groupInfo">Description</div>
    </div>
    <div class="col-6 ">
      <div class="groupInfoInput mt-3"><input class="text-center" placeholder="group name"></div>
      <div class="groupInfoInput mt-3"><input class="text-center" placeholder="group description"></div>
    </div>
  </div>
</div>
